
<table align="center">
    <tr><td><img  ng-src = "{{puzzleimg}}" ng-click = "setImage(3)"></td>
        <td><img  ng-src = "{{puzzleimg}}" ng-click = "setImage(3)"></td>
    </tr>
</table>

<ul>
    <li ng-repeat="veg in veggies">
        {{veg}}
    </li>
</ul>

<!--<div ng-repeat="(g, quest) in questions" ng-show ="g == i">

    

<table align="center">
    <tr><td><h2 font-size ="200%" align="center">{{quest.text}}</h2></td>
        &lt;!&ndash;td>&nbsp;</td&ndash;&gt;
    </tr>
</table>
   <table align="center">
    <tr><td><h1 ng-class="{f: quest.fade}"><img  ng-src = "{{quest.img1.url}}" ng-click = "setAnswer(quest.img1.answer,questions)"></h1></td>
        <td><h1 ng-class="{f: quest.fade}"><img  ng-src = "{{quest.img2.url}}" ng-click = "setAnswer(quest.img2.answer,questions)"></h1></td>
    </tr>
</table>

&lt;!&ndash;div>{{mainAnswer}}</div&ndash;&gt;
&lt;!&ndash;div>{{questions.length}}</div&ndash;&gt;

</div>-->

