{{puzzleimg}}
<li style="background-image:url({{puzzleimg}}); width:100px; height:100px">Привет букет</li>
<!--table align="center">
    <tr><td><img  ng-src = "{{puzzleimg}}" ng-click = "setImage(3)"></td>
        <td><img  ng-src = "{{puzzleimg}}" ng-click = "setImage(3)"></td>
    </tr>
</table-->


 <select name="menu" size="1" ng-model="gridSize">
 <option selected value="3">3</option>
 <option  value="4">4</option>
 <option value="6">6</option>
 </select>
 {{gridSize}}
 

<!--ul>
    <li ng-repeat="veg1 in veggies1" ng-style = "myStyle"-->
         <div otc-dynamic grid-size1='gridSize' puzzle-img1 = 'puzzleimg' cell-size1='cellSize' bg-size1='bgSize'></div>
{{gridSize1}}{{puzzleimg1}}{{cellSize1}}{{bgSize1}}
    <!--/li>
</ul-->

<!--<div ng-repeat="(g, quest) in questions" ng-show ="g == i">

    

<table align="center">
    <tr><td><h2 font-size ="200%" align="center">{{quest.text}}</h2></td>
        &lt;!&ndash;td>&nbsp;</td&ndash;&gt;
    </tr>
</table>
   <table align="center">
    <tr><td><h1 ng-class="{f: quest.fade}"><img  ng-src = "{{quest.img1.url}}" ng-click = "setAnswer(quest.img1.answer,questions)"></h1></td>
        <td><h1 ng-class="{f: quest.fade}"><img  ng-src = "{{quest.img2.url}}" ng-click = "setAnswer(quest.img2.answer,questions)"></h1></td>
    </tr>
</table>

&lt;!&ndash;div>{{mainAnswer}}</div&ndash;&gt;
&lt;!&ndash;div>{{questions.length}}</div&ndash;&gt;

</div>-->

