


<!--div ng-repeat="(g, question) in questions" ng-if="i == g" ng-animate="{enter: 'view-slide-in'}"-->

    
<div>
<table>
    <tr><td>{{questions[i].text}}</td>
        <td></td>
    </tr>
    <tr><td><img ng-animate = "'highlight'" ng-src = "{{questions[i].img1.url}}" ng-click = "setAnswer(questions[i].img1.answer,questions)"></td>
        <td><img ng-anumate = "'highlight'" ng-src = "{{questions[i].img2.url}}" ng-click = "setAnswer(questions[i].img2.answer,questions)"></td>
    </tr>
</table>

<!--div>{{mainAnswer}}</div-->
<!--div>{{questions.length}}</div-->

</div>

